<app-navbar></app-navbar>
<section class="section">
    <div class="container">
      <h1 class="title">Leaderboard</h1>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Posizione</th>
            <th>Nome Utente</th>
            <th>Exp</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of topUsers; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.exp }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  