<app-navbar></app-navbar>
<div class="columns is-vcentered is-gapless is-fullheight">

    <!-- Sezione Editor e Output -->
    <div class="column is-two-thirds">
        <!-- Editor Component -->
        <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" class="editor-height"></ngx-monaco-editor>

        <!-- Run Code Button -->
        <div class="m-2">
            <button (click)="runCode()" [disabled]="isProcessing" [ngClass]="{'is-loading': isProcessing}"
                class="button is-primary is-pulled-right">
                {{ isProcessing ? 'Processing' : 'Run Code' }}
            </button>
        </div>

        <!-- Output Box -->
        <div class="box m-4 output-height">
            <h2 class="title is-5">Output</h2>
            <pre>{{ output }}</pre>
        </div>
    </div>

    <!-- Sezione Istruzioni -->
    <div class="column">
        <div class="content p-4 istruzioni">
            <!-- Visualizza le istruzioni dinamicamente -->
            <h2>Istruzioni</h2>
            <markdown [data]="instructions"></markdown>
        </div>
    </div>
</div>