/* Questo assicura che il contenitore occupi l'intera altezza della vista */
.columns.is-fullheight {
    min-height: 100vh;
}

.istruzioni {
    position: fixed;
    top: 0;
    width: 100%; /* o la larghezza che preferisci */
    z-index: 100;
    background-color: white;
}

/* Adatta l'editor per riempire l'intera colonna */
ngx-monaco-editor {
    height: 90vh;
    width: 100%;
}

/* Media query per dispositivi con schermo di larghezza inferiore a 768px */
@media only screen and (max-width: 768px) {
    .columns {
        flex-direction: column;
    }
}
