h2 {
    margin-top: 0px;
}
.output_window {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: #f7f7f7;
    color: #333;
    font-family: monospace;
    height: 200px;
    overflow-y: auto;
}
