<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <strong>HackEd</strong>
      </a>
      <a
        id="test"
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        (click)="toggleMenu()"
        [class.is-active]="isMenuActive"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div
      id="navbarBasicExample"
      class="navbar-menu"
      [class.is-active]="isMenuActive"
    >
      <div class="navbar-start">
        <a class="navbar-item" [routerLink]="['/trophies']">Trophies</a>
        <a
          *ngIf="!authService.isLoggedIn()"
          class="navbar-item"
          [routerLink]="['/user']"
          >Profile</a
        >
        <a class="navbar-item" [routerLink]="['/exercises']">Exercises</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a
              *ngIf="!authService.isLoggedIn()"
              class="button is-primary"
              [routerLink]="['/auth']"
            >
              <strong>Login</strong>
            </a>

            <a
              *ngIf="authService.isLoggedIn()"
              class="button is-primary"
              [routerLink]="['/user']"
            >
              <strong>Dashboard</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
